<!DOCTYPE html>
<html>
	<head>
		<title>
			<%= htmlWebpackPlugin.options.title %>
		</title>
		
		<meta charset="UTF-8">

		<link rel="stylesheet" href="style.css">
	</head>

	<body>
		<div
			id="root"
			style="background:white;"
		/>
	</body>
</html>
